<template>
  <div class="todo-item">
    <div class="todo-item-left">
        <div class="todo-item-label">{{title}}</div>
      </div>
      <div class="remove-item" @click="removeTodo(id)">
        &times;
      </div>
  </div>
</template>

<script>
export default {
  name: 'todo-item',
  data () {
      return {
        id: this.todo.id,
        title: this.todo.title,
      }
  },
  props: {
      todo: {
          type: Object,
          required: true,
      }
  },
  methods: {
      removeTodo(id) {
          this.$emit('removedTodo', id);
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 .todo-item {
    margin: 0 auto;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:28%;
  }
  .remove-item {
    cursor: pointer;
  }

  .remove-item:hover {
      color: black;
    }
  .todo-item-left {
    display: flex;
    align-items: center;
  }
  .todo-item-label {
    padding: 10px;
  }
</style>
