<template>
<div>
  <input type="text" class="todo-input" placeholder="What do you need to do?"
  v-model="newTodo" @keyup.enter="addTodo()">
  <todo-item v-for="todo in todos" :key="todo.id" :todo="todo"
  @removedTodo="removeTodo">
  </todo-item>
</div>
</template>

<script>
import TodoItem from "./TodoItem"

export default {
  name: 'todo-list',
  components: {
    TodoItem
  },
  data () {
    return {
      newTodo: '',
      nextId: 1,
      todos: [
        {
          'id': 0,
          'title': 'Finish technical document for POS'
        }
      ]
    }
  },
  methods: {
    addTodo(){
      this.todos.push({
        id: this.nextId,
        title: this.newTodo
      })
      this.newTodo = ''
      this.nextId++
    },
    removeTodo(id) {
      const index = this.todos.findIndex((item) => item.id == id)
      this.todos.splice(index, 1)
    }
  }
}
</script>

<style scoped>
  .todo-input {
    display: block;
    width: 25%;
    padding: 10px 18px;
    font-size: 18px;
    margin: 0 auto;
    margin: 20px inherit 16px inherit;
  }
  .todo-input:focus{
    outline-color: #41B883;
  }
</style>
